<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Song Name</th>
        <th>URL</th>
        <th>TrackNo</th>
        <th class="text-right">Tapes</th>
      </tr>
      <tr *ngFor="let tape of tapes">
        <td>
          {{tape.songName}}
        </td>
        <td>
          {{tape.urlLink}}
        </td>
        <td>
          {{tape.trackNo}}
        </td>
        <!-- <td class="text-right">
          {{bike.purchasePrice}}
        </td> -->
      </tr>
    </table>
  </div>