html {
    height: 100vh;
  }
  
  body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aquamarine;
    background-size: contain;
    font-family: 'Quicksand', sans-serif;
    text-rendering: optimizeLegibility;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.0em;
  }
  
  h1 {
    font-size: 2.0em;
  }
  
  .table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #2F465D;
  }