<div style="text-align:center">
  <a routerLink="/viewtapes" routerLinkActive="active">View all Tapes</a>
  <a routerLink="/findlink" routerLinkActive="active">Listen</a>
  <a routerLink="/home" routerLinkActive="active">Home</a>
</div>

<div class="containerback">
<div class="container" style="text-align:center">
        <form [formGroup]="tapeform" (ngSubmit)="submitTape()" novalidate>
          <div *ngIf="validMessage != ''">
            <h3 class="has-info">{{validMessage}}</h3>
          </div>
          <div class="form-group">
            <p id="m"><label>SONG NAME </label></p>
            <input type="email" class="form-control" formControlName="songName" required/>
          </div>
          <div class="form-group">
            <p id="m"><label>TRACK NO. </label></p>
            <input type="text" class="form-control" formControlName="trackNo" required/>
          </div>
          <div class="form-group">
            <p id="m"><label>URL </label></p>
            <input type="text" class="form-control" formControlName="urlLink" required>
          </div>
          <button type="submit" class="btn btn-primary" id="s" style="background-color:black">SUBMIT</button>
        </form>
      </div>
    </div>
