a {
    background-color: black;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }

.container {
    margin: 50px;
    width: 200px;
    position: fixed;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
  }
  #m {
    margin-bottom: 0px;
  }
  #s {
    margin-top: 10px;
    margin-bottom: 10px;
  }