<html>
  <head>

  </head>
  <body>
    <div style="text-align:center">
      <a routerLink="/viewtapes" routerLinkActive="active">View all Tapes</a>
      <a routerLink="/addtape" routerLinkActive="active">Add a Tape</a>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      </div>
    <div class="container">
      <p>Which song shall we listen to?</p>
      
      <input type=text, id=findlink>
      <button type="submit" class="btn btn-primary" >Find</button>
   
    <tr *ngFor="let tape of tapes">
    <a [routerLink]="['/admin/view', tape.urlLink]">{{tape.urlLink}}</a>
    </tr>
      </div>
    <div>
      <p id=linkadd></p>
      </div>
 
    </body>
</html>
 