<html>
  <head>

  </head>
  <body>
    <div style="text-align:center">
      <a routerLink="/viewtapes" routerLinkActive="active">View all Tapes</a>
      <a routerLink="/addtape" routerLinkActive="active">Add a Tape</a>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      </div>
    <div class="container">
      <p>Which song shall we listen to?</p>
        <form>
          <input type=text, id=findlink>
          <p><button type="submit" class="btn btn-primary" style="background-color:black">Find</button></p>
          </form>
      </div>
    </body>
</html>
 